    <div class="bg-light border border-primary p-3 rounded m-3">
        <h1 class="display-4 text-center">Upcoming Club Events List</h1>
        <% if (events.length == 1) {%>
            <p class="lead text-center"><%= events.length %>  upcoming event</p>
        <% } else {%>
            <p class="lead text-center"><%= events.length %>  upcoming events </p>
        <% } %>     
    </div>
    <hr>
    <ol>
        <% for (event of events){%>
            <li class="mb-2">          
                <b><%= event.title%>:</b><i><%= event.description %></i>
                <br>
                Location: <%= event.eventLocation%> <br>
                Date: <%= event.eventDate%>
            </li>
        <% }%>
    </ol>
    <hr>
    <form method="post" action="/events/add">
        Event title: <input type="text" name="title" placeholder="e.g. Movie Night"><br><br>
        Event description: <input type="text" name="description"><br><br>
        Event date and time: <input type="text" name="eventDate" placeholder="e.g October 1st, 5pm"><br><br>
        Event Location: <input type="text" name="eventLocation" ><br><br>
        <input type="submit" value="Save Event"><br>
    </form>
    


